*{
    margin: 0;
    inset: 0;
}

table, th, td{
    border: 1px solid black;
    margin: 0 auto;
    width: 20rem;

}

th{
    background-color: yellow;
}

.header_text{
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

.main_1{
    margin: 50px auto;
    width:20rem;
}

.line{
    margin: 0 auto;
    height: .7px;
    width: 90%;
    background-color: black;
    opacity: 0.2;
}

.main_2{
    width: 40rem;
    margin: 50px auto;
}

#header_text_2 > p{
    color: blue;
}

.infor {
    width: 30rem;
    height: 5rem;
    display: flex;
    color: rgb(19, 97, 170);
    margin: 20px auto;
}

.infor > div:nth-child(2){
    margin-left: 8rem;
    float: right;
}

.main_2 > table {
    margin-top: -30px;
    width: 40rem;
    text-align: center;
}